{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="columns">
        <div class="column ">
            <div class="box">
                <a href="#">
                <p class="title is-2">Pacientes</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit fugit amet veritatis ab consectetur praesentium aperiam animi architecto, consequuntur illo.</p>
            </a>
            </div>
            
              </div>   
              <div class="column">
                <div class="box">
                    <a href="#">
                    <p class="title is-2">Citas</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit fugit amet veritatis ab consectetur praesentium aperiam animi architecto, consequuntur illo.</p>
                </a>
                </div>
              </div>
              <div class="column">
                <div class="box">
                    <a href="#">
                    <p class="title is-2">Expedientes</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit fugit amet veritatis ab consectetur praesentium aperiam animi architecto, consequuntur illo.</p>
                </a>
                </div>
              </div>
        </div>
        
    </div>

{% endblock %}