{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
{% if error %}
<div class="notification is-danger">
  <button class="delete"></button>
<p class="is-size-4 has-text-centered">
  Usuario o contraseña incorrectos, por favor intenten de nuevo.
</p>
</div>
{% endif %}
<div class="container">
  <div class="columns columns is-mobile is-centered is-vcentered">
    <div class="column  is-half is-4">
      <figure class="image">
        <img src="{% static 'img/logos/logo.svg' %}" alt="logo">
      </figure>
    </div>
  </div>
</div>


<div class="columns is-desktop is-centered is-vcentered" style="height: 50vh;">
  <div class="column is-half is-3">
    <form method="POST" class="">
      {% csrf_token %}
      <div class="box has-text-centered">                  
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            {{form.username}}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            </div>
            </div>
        
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            {{form.passwd}}
            <span class="icon is-small is-left">
              <i class="fas fa-unlock-alt"></i>
            </span>
          </div>
        </div>
        
        
        <input class="button button is-success my-4 is-size-5" type="submit" value="Enviar">
    </form>
  </div>
</div>

  </div>

{% endblock %}
