{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/core/login.css' %}">
{% endblock %}

{% block title %}
Entrar
{% endblock %}

{% block content %}
{% if error %}
<div class="notification is-danger">
  <button class="delete"></button>
<p class="is-size-4 has-text-centered">
  Usuario o contraseña incorrectos, por favor intenten de nuevo.
</p>
</div>
{% endif %}
<div class="container container_form ">
  <div class="row align-items-center h-100">
<div class="col-sm-4 my-auto mx-auto">
  <div class="form_login p-5 text-center">
      <img src="{% static 'img/logos/logo.svg' %}" alt="logo" class="img-fluid" width="200">
  <div class="container">
    <form method="post">{% csrf_token %}
        {{ form|crispy  }}
        <input class=" mt-5 btn btn-success btn-lg btn-block" type="submit" value="Entrar">
    </form>
  </div>
    </div>
</div>
  
</div>
</div>
  </div>

{% endblock %}
