{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Cita Médica
{% endblock %}

{% block css%}
<script src="{% static '/select2-4.1.0-beta.0/dist/js/select2.min.js'%}"></script>
{% endblock %}
{% block content %}
<div class="container">

<h2>Cita Médica</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Cita Médica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="form">
          {{ form.errors }}
        {{ form.non_field_errors }}
          {% csrf_token %}
          {{form.doctor|as_crispy_field}}
          {{form.patient|as_crispy_field}}
        
          <label for="id_date">Hora y fecha*</label>
          <div class="input-group date" id="picker_appoiment" data-target-input="nearest">
              {{form.date}}
              <div class="input-group-append" data-target="#picker_appoiment" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            {{form.telefono|as_crispy_field}}
            {{form.category|as_crispy_field}}
          <input type="submit" value="Enviar">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Crear Cita</button>
      </div>
    </div>
  </div>
</div>

<form method="POST">
  {{ form.errors }}
{{ form.non_field_errors }}
  {% csrf_token %}
  {{form.doctor|as_crispy_field}}
  {{form.patient|as_crispy_field}}

  <label for="id_date">Hora y fecha*</label>
  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
    {{ form.date }}
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  

    {{form.telefono|as_crispy_field}}
    {{form.category|as_crispy_field}}
  <input type="submit" value="Enviar" class="btn btn-success">
</form>

</div>
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });

    $(document).ready(function () {
    $('.select-patient').select2();
  });

</script>
{% endblock %}
