{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Mi cuenta
{% endblock %}
{% block content %}

<form method="POST">
  {% csrf_token %}
  <section class="hero is-success">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Mi cuenta
        </h1>
      </div>
    </div>

    <div class="">
      <nav class="tabs is-boxed is-fullwidth is-centered">
        <div class="container-fluid">
          <ul>
            <li class="tab is-active" onclick="openTab(event,'information')"><a>Información Personal</a></li>
            <li class="tab" onclick="openTab(event,'education')"><a>Educación</a></li>
            <li class="tab" onclick="openTab(event,'contact')"><a>Contacto</a></li>
            <li class="tab" onclick="openTab(event,'account')"><a>Cuenta</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="container section">
    <div id="information" class="content-tab">
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Nombre:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Nombre" value="{{doctor.user.first_name}}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Apellidos" value="{{doctor.user.last_name}}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Curp:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="curp" class="input" type="text" placeholder="Apellidos" value="{{doctor.curp}}">

              <span class="icon is-small is-left">
                <i class="fas fa-id-card-alt"></i>
              </span>
            </p>
          </div>
        </div>
      </div>


      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Fecha de nacimiento:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="date_birth" class="input" type="date" placeholder="Fecha de nacimiento"
                value="{{doctor.date_birth}}">
              <span class="icon is-small is-left">
                <i class="fas fa-calendar"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Edad:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="age" class="input" type="text" placeholder="sexo" value="{{doctor.age}}">
              <span class="icon is-small is-left">
                <i class="fas fa-home"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Residencia:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="residence" class="input" type="text" placeholder="Curp" value="{{doctor.residence}}">
              <span class="icon is-small is-left">
                <i class="fas fa-home"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="education" class="content-tab" style="display:none">
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Cedula:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="cedula" class="input" type="text" placeholder="cedula" value="{{doctor.cedula}}">
              <span class="icon is-small is-left">
                <i class="far fa-id-card"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Universidad:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="universidad" class="input" type="text" placeholder="Universidad"
                value="{{doctor.universidad}}">
              <span class="icon is-small is-left">
                <i class="fas fa-school"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="content-tab" style="display:none">
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Celular:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="cel_phone" class="input" type="text" placeholder="Celular" value="{{doctor.cedula}}">
              <span class="icon is-small is-left">
                <i class="fas fa-mobile"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Teléfono:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="tel_phone" class="input" type="text" placeholder="Teléfono"
                value="{{doctor.universidad}}">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      
    </div>
    <div id="account" class="content-tab" style="display:none">
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Usuario:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="username" class="input" type="text" placeholder="Nombre de Usuario" 
              value="{{doctor.user.username}}">
              {{form.curp}}
              
              <span class="icon is-small is-left">
                <i class="fas fa-mobile"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal mt-5 py-5">
        <div class="field-label is-normal">
          <label class="label">Contraseña:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input name="password" class="input" type="text" placeholder="Teléfono">
                <label for="">Si desea cambiar su contraseña solo escriba una nueva. Por defecto jamás se mostrará su contraseña</label>
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="has-text-centered">
    <button class="button button is-success is-large" type="submit">Enviar</button>
  </div>
</form>

</div>
{% endblock %}
{% block script %}
<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
{% endblock %}